{% extends "email/base.html" %}

{% block subject %}{{ block.super }} Password Reset{% endblock %}

{% block content %}
  <h2 style="color: #0aa8a2; font-weight: normal">Password reset request</h2>
  <p style="color: #626467;">Please, follow link to set account password</p>
  <p style="margin-bottom: 2.5rem; margin-top: 2.5rem">
    <a href="{{ protocol }}://{{ domain }}/forgot-password/{{ password_reset_id }}" target="_blank"
       style="padding: 1rem 4rem; background-color: #0aa8a2; border-radius: 0.2rem; color: white; text-decoration: none">
      Continue
    </a>
  </p>
  <p style="color: #626467;">If you did not request to reset a Blogs account password please disregard this message.</p>
{% endblock %}