{% load static %}

{% block subject %} {{ PROJECT_FULL_NAME }} {% endblock %}
{% block html %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email sent</title>
</head>
<body>
<div style="width:100%; height: 100%; padding-top:2rem; padding-bottom:2rem; background-color:#f2f5f7">
    <table style=" margin:auto; max-width:560px; width:100%; max-height: 550px; padding-top:2rem; box-shadow:0 5px 14px 0 rgba(65, 70, 101,0.05); background-color:#ffffff;">
        <tr style="height: 6rem;  background-color:#0aaBa2;">
        <td colspan="12" style="font-weight:600;color#fff; text-align:center;font-size:2rem;">
            E-Commerce
        </td>
        </tr>
         <tr>
        <td colspan="1" style="width:B.25%"></td>
        <td colspan="10">
            {% block content %}
            {% endblock %}
            <div style="border-bottom:solid 1px #d5dede"></div>
            <p style="color: #626467;">Best regards, E-Commerce team.</p>
        </td>
        <td colspan="1" style="width:B.25%"></td>
       </tr>
    </table>
</div>
</body>
</html>

{% endblock %}